/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.image-buttons .mat-figure {
    justify-content: flex-start !important;
    flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
