<div class="container">
  <div *ngIf="visible" [@slideInOut]>
    <mat-form-field appearance="standard">
      <mat-label>Pet Type Name</mat-label>
      <input matInput [formControl]="newName" required>
      <mat-error *ngIf="newName.hasError('required')">Pet type name is required</mat-error>
    </mat-form-field>
  </div>
    <button mat-flat-button color="accent" class="add-button" (click)=addPetType()>
      <mat-icon>add</mat-icon>{{visible ? "Add" : "Add Pet Type"}}
    </button>
    <button mat-stroked-button class="cancel-button" *ngIf=visible (click)="onCancelClick()">Cancel</button>
    <br>
    <button mat-icon-button (click)=onRefresh()><mat-icon>refresh</mat-icon></button>
    <div class="table-details">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
  
        <!--ID Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>
  
        <!--Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button (click)="onEditClick(element)" class="edit-button">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
          </ng-container>
  
        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> 
              <button mat-icon-button color="warn" (click)="onDeleteClick(element._id)" class="delete-button">
                  <mat-icon>delete</mat-icon>
              </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="details" *ngIf="isEdit" [@slideLeftRight]>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <mat-form-field appearance="standard">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="!formGroup.controls['name'].valid">Name is required</mat-error>
        </mat-form-field>
        <div class="action-buttons">
          <button mat-stroked-button (click)="onCancelEditClick(); $event.preventDefault()">Cancel</button>
          <button mat-flat-button color="primary" class="save-button" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
  