table {
    width: 100%;
  }

.container {
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 16px;
    margin: 8px;
}

.products {
    background-color: rgb(245, 245, 245);
    box-shadow: none;
}

.title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

th {
    color: black;
    font-weight: 500;
    text-align: center;
}

td {
    text-align: center;
}