<div class="container">
  <div class="filter">
    <mat-form-field (keyup)="applyFilter($event)" appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Please type a user name or email">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <div class="spinner-container" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource">

      <!--First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!--Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Is Manager Column -->
      <ng-container matColumnDef="isAdmin">
        <th mat-header-cell *matHeaderCellDef> Is Manager </th>
        <td mat-cell *matCellDef="let element"> {{(element.isAdmin) ? "Yes" : "No"}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Permissions</th>
        <td mat-cell *matCellDef="let element; let i = index"> 
            <button mat-flat-button (click)="onClick(element._id, i)" class="{{(element.isAdmin) ? 'revoke' : 'grant'}} premission-button">
                {{(element.isAdmin) ? "Revoke" : "Grant"}}
            </button>
            <mat-error *ngIf="error[i]">{{error}}</mat-error>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>      
</div>
