table {
    width: 100%;
}

.container {
    padding: 20px;
}

.revoke {
    background-color: #ff4444;
}

.revoke:hover {
    background-color: #CC0000;
}

.grant {
    background-color: #00C851;
}

.grant:hover {
    background-color: #007E33;
}

.premission-button {
    min-width: 80px;
    color: white;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-spacer {
    flex: 1 1 auto;
}

mat-form-field {
    width: 100%;
}