<div class="bg">
    <div class="login-container">
        <img src="../../assets/paw-mamanger.png" alt=""/>
        <div class="login-wrapper" *ngIf="visible" [@slideInOut]>
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>Log in</mat-card-title>
                </mat-card-header>
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="login-form">
                    <mat-card-content>
                        <mat-form-field class="login-full-width">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="!formGroup.controls['email'].valid">Email is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="login-full-width">
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="!formGroup.controls['password'].valid">Password is required</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <button mat-stroked-button color="primary" class="btn-block" type="submit">Log in</button>
                    <mat-error *ngIf="error">{{error}}</mat-error>
                </form>
            </mat-card>
        </div>
    </div>
</div>