<mat-sidenav-container autosize>
    <mat-sidenav mode="side" [(opened)]="isLoggedIn" [fixedInViewport]="true">
        <h4 class="menu-title"><b>Menu</b></h4>
        <mat-divider></mat-divider>
        <mat-selection-list #menuOptions [multiple]="false">
            <mat-list-option *ngFor="let option of menu" [value]="option.name" [routerLink]="option.route" [selected]="(routeUrl.startsWith(option.route))">
                <mat-icon mat-list-icon>{{option.icon}}</mat-icon>{{option.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar *ngIf="isLoggedIn" color="primary">
            <span>{{menuOptions.selectedOptions.selected[0]?.value}}</span>
            <span class="toolbar-spacer"></span>
            <button mat-button color="primary" class="logout-button" (click)="logout()">Log Out</button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



<!--app-users-counter></app-users-counter-->
<!--app-order-notification></app-order-notification-->