mat-sidenav-container {
    height: 100%;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}

.logout-button {
    color: white;
}

.logout-button:hover {
    background-color: #2c387e;
}

mat-sidenav {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    width: 260px;
}

.menu-title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    height: 30px;
}