<mat-tab-group>
  <mat-tab label="Products">
    <div class="container">
      <button mat-flat-button color="accent" class="add-button" (click)=addProduct()>
        <mat-icon>add</mat-icon> Add Product
      </button>
      <button mat-flat-button color="accent" class="add-button" (click)=onImport()>
        <mat-icon>publish</mat-icon> Import Products
      </button>
      <app-products-filter (filterList)="loadData($event)"></app-products-filter>
      <button mat-icon-button (click)=onRefresh()><mat-icon>refresh</mat-icon></button>
      <div class="mat-elevation-z8">
        <div class="spinner-container" *ngIf="isImporting">
          <mat-spinner></mat-spinner>
        </div>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    
          <!--ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element._id}} </td>
          </ng-container>
    
          <!--Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
    
          <!--Pet type Column -->
          <ng-container matColumnDef="petType">
            <th mat-header-cell *matHeaderCellDef> Pet Type </th>
            <td mat-cell *matCellDef="let element"> {{element.petType.name}} </td>
          </ng-container>
    
          <!--Product type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Product Type </th>
            <td mat-cell *matCellDef="let element"> {{element.productType.name}} </td>
          </ng-container>
    
          <!--Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency:"ILS":"symbol"}} </td>
          </ng-container>
    
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <app-product-details [product]=element (refreshList)="loadData($event)"></app-product-details>
              </div>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="element-row"
              [class.expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
      </div>      
    </div>
  </mat-tab>
  <mat-tab label="Product Types"><app-product-types></app-product-types></mat-tab>
  <mat-tab label="Pet Types"><app-pet-types></app-pet-types></mat-tab>
</mat-tab-group>

  