table {
    width: 100%;
}

.container {
    padding: 20px;
}
  
tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
}

.add-button {
    border-radius: 50px;
    min-height: 40px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.add-button:hover {
    background-color: #c60055;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}