<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <mat-grid-list cols="3" rowHeight="75px" style="margin-left: 100px; margin-right: 100px;">
        <mat-grid-tile colspan=1 rowspan=3>
            <!--product image-->
            <img class="product-img" [src]="productPicture" alt={{product.picture}}>
        </mat-grid-tile>
        <mat-grid-tile colspan=2 rowspan=1>
            <mat-form-field appearance="standard">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id">
                <mat-error *ngIf="!formGroup.controls['id'].valid">ID is required</mat-error>
            </mat-form-field>                                                                                                 
        </mat-grid-tile>
        <mat-grid-tile colspan=2 rowspan=1>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="!formGroup.controls['name'].valid">Name is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=1 rowspan=1>
            <mat-form-field appearance="standard">
                <mat-label>Pet Type</mat-label>
                <mat-select (selectionChange)="onPetChange($event)" formControlName="petType">
                <mat-option *ngFor="let petType of petTypes" [value]="petType._id">{{petType.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!formGroup.controls['petType'].valid">Pet type is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=1 rowspan=1>
            <mat-form-field appearance="standard">
                <mat-label>Product Type</mat-label>
                <mat-select disableRipple formControlName="productType">
                <mat-option *ngFor="let type of productTypes" [value]="type._id">{{type.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!formGroup.controls['productType'].valid">Product type is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="image-buttons" colspan=1 rowspan=3>
            <input #imageInput type="file" accept="image/*" (change)="previewImage($event)">
            <button *ngIf="isEdit" mat-button (click)="imageInput.click(); $event.preventDefault()">Change Image</button>
        </mat-grid-tile>
        <mat-grid-tile colspan=1 rowspan=1>
            <mat-form-field appearance="standard">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price">
                <span matSuffix>₪</span>
                <mat-error *ngIf="!formGroup.controls['price'].valid">Price must be a positive number</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=1 rowspan=1>
            <mat-form-field appearance="standard">
                <mat-label>Supplier</mat-label>
                <input matInput formControlName="supplier">
                <mat-error *ngIf="!formGroup.controls['supplier'].valid">Supplier is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=2 rowspan=2>
            <mat-form-field appearance="standard">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="!formGroup.controls['description'].valid">Description is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <div *ngIf="!isEdit" class="action-buttons">
        <button mat-stroked-button (click)="onEditClick()">Edit</button>
        <button mat-flat-button color="warn" (click)="onDeleteClick(); $event.preventDefault()" type="button" class="delete-button">Delete</button>
    </div>
    <div *ngIf="isEdit" class="action-buttons">
        <button mat-stroked-button (click)="onEditClick()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" class="save-button">Save</button>
    </div>
</form>