<div class="container">
    <h2><b>Add Product</b></h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <mat-grid-list cols="3" rowHeight="75px" style="margin-left: 100px; margin-right: 100px;">
            <mat-grid-tile colspan=1 rowspan=3>
                <img class="product-img" [src]="productPicture" alt=add-image>
            </mat-grid-tile>
            <mat-grid-tile colspan=2 rowspan=1>
                <mat-form-field appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="!formGroup.controls['name'].valid">Name is required</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1>
                <mat-form-field appearance="standard">
                    <mat-label>Pet Type</mat-label>
                    <mat-select (selectionChange)="onPetChange($event)" formControlName="petType">
                    <mat-option *ngFor="let petType of petTypes" [value]="petType._id">{{petType.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!formGroup.controls['petType'].valid">Pet type is required</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1>
                <mat-form-field appearance="standard">
                    <mat-label>Product Type</mat-label>
                    <mat-select disableRipple formControlName="productType">
                    <mat-option *ngFor="let type of productTypes" [value]="type._id">{{type.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!formGroup.controls['productType'].valid">Product type is required</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1>
                <mat-form-field appearance="standard">
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price">
                    <span matSuffix>₪</span>
                    <mat-error *ngIf="!formGroup.controls['price'].valid">Price must be a positive number</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1>
                <mat-form-field appearance="standard">
                    <mat-label>Supplier</mat-label>
                    <input matInput formControlName="supplier">
                    <mat-error *ngIf="!formGroup.controls['supplier'].valid">Supplier is required</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="image-buttons" colspan=1 rowspan=3>
                <input #imageInput type="file" accept="image/*" (change)="previewImage($event)">
                <button mat-button (click)="imageInput.click(); $event.preventDefault()">Pick Image</button>
                <mat-error *ngIf="imageError">Product image is required</mat-error>
            </mat-grid-tile>
            <mat-grid-tile colspan=2 rowspan=2>
                <mat-form-field appearance="standard">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" 
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="5"></textarea>
                    <mat-error *ngIf="!formGroup.controls['description'].valid">Description is required</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="action-buttons">
            <button mat-stroked-button (click)="onBackClick(); $event.preventDefault()">Cancel</button>
            <button mat-flat-button color="primary" type="submit">Add</button>
        </div>
    </form>
</div>
