.container {
    padding: 20px;
}

.back-button:hover {
    background-color: whitesmoke;
}

.product-img { 
    max-width: 100%;
    max-height: 100%;
}

.image-buttons input{
    display: none;
}

.image-buttons .mat-button {
    margin-top: 20px;
}

.mat-grid-tile .mat-form-field {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.action-buttons {
    text-align: end;
    padding: 5px;
    padding-right: 100px;
}

.action-buttons button {
    margin-left: 10px;
    min-width: 75px;
}

.action-buttons .mat-flat-button:hover {
    background-color: #303f9f;
}

.action-buttons .mat-stroked-button {
    border: 1px solid currentColor;
}

.action-buttons .mat-stroked-button:hover {
    background-color: whitesmoke;
}