<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>{{data.message}}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{data.isDelete ? "Cancel" : "OK"}}</button>
  <button mat-flat-button color="warn" *ngIf=data.isDelete [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>