<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16 card">
        <div class="w3-left"><mat-icon class='icon'>{{connectedUsersIcon}}</mat-icon></div>
        <div class="w3-right">
          <div class='counter'>{{connectedUsersCount}}</div>
        </div>
        <div class="w3-clear"></div>
        <h4>{{connectedUsersTitle}}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16 card">
        <div class="w3-left"><mat-icon class='icon'>{{registeredUsersIcon}}</mat-icon></div>
        <div class="w3-right">
          <div class='counter'>{{registeredUsersCount}}</div>
        </div>
        <div class="w3-clear"></div>
        <h4>{{registeredUsersTitle}}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16 card">
        <div class="w3-left"><mat-icon class='icon'>{{productsIcon}}</mat-icon></div>
        <div class="w3-right">
          <div class='counter'>{{productsCount}}</div>
        </div>
        <div class="w3-clear"></div>
        <h4>{{productsTitle}}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16 card">
        <div class="w3-left"><mat-icon class='icon'>{{ordersIcon}}</mat-icon></div>
        <div class="w3-right">
          <div class='counter'>{{ordersCount}}</div>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ordersTitle}}</h4>
      </div>
    </div>