<mat-grid-list cols="3" rowHeight="75px" class="filter-container">
    <mat-grid-tile colspan=1 rowspan=1>
        <mat-form-field (keyup)="onFilter()" appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput placeholder="Please type product ID or name" [(ngModel)]="textFilter">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <mat-form-field appearance="standard">
        <mat-label>Pet Type</mat-label>
        <mat-select (selectionChange)="onPetChange($event)" [(ngModel)]="selectedPetType">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let petType of petTypes" [value]="petType._id">{{petType.name}}</mat-option>
        </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <mat-form-field appearance="standard">
            <mat-label>Product Type</mat-label>
            <mat-select disableRipple [(ngModel)]="selectedProductType" (selectionChange)="onFilter()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let type of productTypes" [value]="type._id">{{type.name}}</mat-option>
            </mat-select>
            <mat-hint>You must choose pet type first</mat-hint>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>