.container {
    padding: 20px;
}

table {
    width: 100%;
}

.add-button {
    border-radius: 50px;
    min-height: 40px;
    margin-bottom: 30px;
}

.add-button:hover {
    background-color: #c60055;
}

.delete-button:hover {
    color: #CC0000;
}

.edit-button {
    color: gray;
}

.edit-button:hover {
    color: black;
}

.cancel-button {
    border: 1px solid currentColor;
    margin-left: 10px;
    border-radius: 50px;
    min-height: 40px;
}

.mat-form-field{
    margin-bottom: 10px;
    margin-right: 20px;
}

.table-details {
    display: flex;
}

.mat-elevation-z8 {
    width: 50%;
}

.details {
    margin-left: 40px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.details form .mat-form-field {
    width: 100%;
}

.details button {
    max-width: fit-content;
}

.action-buttons {
    text-align: end;
}

.action-buttons button {
    margin-left: 10px;
    min-width: 75px;
}  

.action-buttons .save-button:hover {
    background-color: #303f9f;
}

.action-buttons .mat-stroked-button {
    border: 1px solid currentColor;
  }

.action-buttons .mat-stroked-button:hover {
    background-color: whitesmoke;
}