<div class='container'> 
    <div class="w3-row-padding w3-margin-bottom">
   <app-counters></app-counters>
   <div class='chart'>
       <div class='chart-title'>Monthly Incomes</div>
    <div *ngIf="monthlyIncomes" appMonthlyIncomes [data]="monthlyIncomes">
        <div id="bar"></div>
    </div>
   </div>
</div>