.container {
    padding: 16px;
}

.chart {
    padding-top: 16px;
    padding-left: 16px;
    box-shadow: -2px 2px 4px 1px rgb(204, 204, 204);
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-title {
    color:black;
    font-size: 28px;
    text-align: center;
    font-weight: 400px;
}